.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlink {
    display: flex;
}

.search-header {
    padding: 10px 20px;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0f0f0;
}

.search-header input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.cart-icon {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #ef4444;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 9999px;
    min-width: 20px;
    text-align: center;
    line-height: 1;
}

/* start cart-header-shopping  */
.cart-header-shopping {
    position: absolute;
    transform: translateY(-300%);
    right: 0;
    overflow-y: auto;
    border-radius: 8px;
    z-index: 1500;
    border: 1px solid #ccc;
    transition: 2s ease;
}

.shopping-back {
    transform: translateY(19px);


}

/* ------------------------ */

@media screen and (max-width: 794px) {
    .header-container {
        justify-content: space-between;
    }

    .headerlink {

        flex-direction: column;
        position: absolute;
        top: 65px;
        left: -200%;
        width: 180px;
        height: 209px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1100;
        transition: 1s ease-in-out;
        border-radius: 0 0 10px 0;
        background-color: #f0f0f0;
    }

    .headerlink ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .headerlink ul li a {
        color: #000;
        font-weight: 540;
        transition: color 0.7s ease-in-out;
        text-decoration: none;
    }

    .headerlink ul li a:hover {
        font-weight: 550;
    }

    .headerlink.back {

        left: 0;
    }
}

.menu-toggle {
    z-index: 1200;
}

@media screen and (min-width: 795px) {
    .menu-toggle {
        display: none;
    }
}

@media screen and (max-width: 780px) {


    .headermo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .search-header {
        display: none;
    }
}